/* layout css */
.content {
	grid-template-columns: 49.5% 49.5%;
	grid-template-rows: auto;
	grid-gap: 1%;
	grid-row-gap: 4px;
	grid-template-areas: 
		"header header"
		"intro intro"
		"news events"
		"body body"
		"twitter facebook";
	/* IE Grid Impl */
	-ms-grid-columns: 49.5% 1% 49.5%;
	-ms-grid-rows: auto 4px auto 4px auto 4px auto 4px auto;
}
.header {
	grid-area:header;
	/* IE Grid Impl */
	-ms-grid-column-span: 3;
	-ms-grid-column: 1;
	-ms-grid-row: 1;
}
.description {
	grid-area:intro;
	/* IE Grid Impl */
	-ms-grid-column-span: 3;
	-ms-grid-column: 1;
	-ms-grid-row: 3;
}
.news {
	grid-area:news;
	/* IE Grid Impl */
	-ms-grid-column: 1;
	-ms-grid-row: 5;
}
.events {
	grid-area:events;
	/* IE Grid Impl */
	-ms-grid-column: 3;
	-ms-grid-row: 5;
}
.body {
	grid-area:body;
	/* IE Grid Impl */
	-ms-grid-column-span: 3;
	-ms-grid-column: 1;
	-ms-grid-row: 7;
}
.twitter {
	grid-area:twitter;
	/* IE Grid Impl */
	-ms-grid-column: 1;
	-ms-grid-row: 9;
}
.facebook {
	grid-area:facebook;
	/* IE Grid Impl */
	-ms-grid-column: 3;
	-ms-grid-row: 9;
}